global
    maxconn 20000
    nbthread 1
    tune.bufsize 32768

defaults
    mode http
    no log
    timeout connect 50ms
    timeout client 2s
    timeout http-request 2s
    timeout queue 2s
    timeout server 2s
    option http-keep-alive

frontend fraud_score
    bind :9999
    default_backend api_pool

backend api_pool
    balance roundrobin
    http-reuse always
    server api1 api1:8080
    server api2 api2:8080
